<!DOCTYPE html>
<html>
<head>
    <title>Players</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Players</h1>
        <form method="POST">
            <label for="first_name">First Name:</label>
            <input type="text" id="first_name" name="first_name" required>
            <label for="last_name">Last Name:</label>
            <input type="text" id="last_name" name="last_name" required>
            <button type="submit">Register Player</button>
        </form>
        <ul>
            {% for player in players %}
            <li>{{ player[0] }} {{ player[1] }}</li>
            {% endfor %}
        </ul>
        <button onclick="location.href='{{ url_for('index') }}'">Back to Home</button>
    </div>
</body>
</html>
